@model QLTC.Models.ModelList
@{
    Layout = null;
}


<!DOCTYPE HTML>

<html>
<head>
    <title>Golden Flower</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/Content/main.css" />

    <style>

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 16px;
        }

        th {
            font-size: 20px;
            font-weight: bold;
            color: black;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .margin {
            margin-left: 35px;
            margin-right: 35px;
        }
    </style>
</head>

@{
    if ((QLTC.Models.Notice.logIn == false && QLTC.Models.Notice.adminLogIn == false) || (QLTC.Models.Notice.logIn == true && QLTC.Models.Notice.adminLogIn == false))
    {
<script>
    alert("Bạn không có quyền truy cập trang web này")
    window.location = "/Home/Main"
</script>
    }
    else
    {
<body class="no-sidebar is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <section id="header" class="wrapper">

            <!-- Logo -->
            <div id="logo">
                <h1><a href="#">QUẢN LÝ SẢNH</a></h1>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="/Home/Main">Trang chủ</a></li>
                    <li><a href="/MonAn/MonAnM">Quản lý món ăn</a></li>
                    <li><a href="/DichVu/DichVuM">Quản lý dịch vụ</a></li>
                    <li><a href="/Ca/CaM">Quản lý ca</a></li>
                    <li><a href="/Sanh/SanhM">Quản lý sảnh</a></li>
                    <li><a href="/QuyDinh/QuyDinhM">Quản lý quy định</a></li>
                    <li><a href="/BaoCao/BaoCao">Lập báo cáo</a></li>
                </ul>
            </nav>
        </section>

        <!-- Main -->
        @using (Html.BeginForm("ProcessForm", "Sanh", FormMethod.Post))
        {
        <div id="main" class="wrapper style2">
            <div style="overflow-x:auto;">
                <table>
                    <tr>
                        <th>Tên sảnh</th>
                        <th>Loại sảnh</th>
                        <th>SL Bàn tối đa</th>
                        <th>SL Bàn tối thiểu</th>
                        <th>Ghi chú</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.ds_sanhsM)
                    {
                    <tr>
                        <td>@item.TenSanh</td>
                        <td>@item.LoaiSanh</td>
                        <td>@item.SoLuongBanToiDa</td>
                        <td>@item.DonGiaBanToiThieu</td>
                        <td>@item.GhiChu</td>
                        <td>
                            <input type="checkbox" value="@item.MaSanh" id="checkbox1" />
                        </td>
                    </tr>
                    }
                </table>
            </div>
            <div align="center" style="margin-top: 50px" class="col-12">
                <ul class="actions">
                    <li><input type="submit" name="them" id="them" class="margin style2" value="Thêm" /></li>
                    <li><input type="submit" name="xoa" id="xoa" class="margin style1" value="Xóa" /></li>
                    <li><input type="submit" name="sua" id="sua" class="margin style2" value="Sửa" /></li>
                </ul>
            </div>
        </div>
        }



        <!-- Footer -->
        <section id="footer" class="wrapper">
            <div class="title">Liên hệ</div>
            <div class="container">
                <header class="style1">
                    <h2>Liên hệ ngay với chúng tôi để được tư vấn thêm</h2>
                    <p>
                        Nếu có gì không hài lòng mong quý khách phản hồi theo thông tin phía dưới.<br />
                        Xin lỗi nếu làm quý khách phiền lòng.
                    </p>
                </header>
                <div class="row">
                    <div class="col-6 col-12-medium">

                        <!-- Contact Form -->
                        <section>
                            <form method="post" action="#">
                                <div class="row gtr-50">
                                    <div class="col-6 col-12-small">
                                        <input type="text" name="name" id="contact-name" placeholder="Name" />
                                    </div>
                                    <div class="col-6 col-12-small">
                                        <input type="text" name="email" id="contact-email" placeholder="Email" />
                                    </div>
                                    <div class="col-12">
                                        <textarea name="message" id="contact-message" placeholder="Message" rows="4"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <ul class="actions">
                                            <li><input type="submit" class="style1" value="Send" /></li>
                                            <li><input type="reset" class="style2" value="Reset" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </section>

                    </div>
                    <div class="col-6 col-12-medium">

                        <!-- Contact -->
                        <section class="feature-list small">
                            <div class="row">
                                <div class="col-6 col-12-small">
                                    <section>
                                        <h3 class="icon fa-home">Địa chỉ</h3>
                                        <p>
                                            56 Sư Vạn hạnh<br />
                                            Quận 10, TP.HCM<br />
                                        </p>
                                    </section>
                                </div>
                                <div class="col-6 col-12-small">
                                    <section>
                                        <h3 class="icon fa-comment">Cộng đồng</h3>
                                        <p>
                                            <a href="#">facebook.com/goldenflower</a><br />
                                        </p>
                                    </section>
                                </div>
                                <div class="col-6 col-12-small">
                                    <section>
                                        <h3 class="icon fa-envelope">Email</h3>
                                        <p>
                                            <a href="#">baohua01234@gmail.com</a>
                                        </p>
                                    </section>
                                </div>
                                <div class="col-6 col-12-small">
                                    <section>
                                        <h3 class="icon fa-phone">Điện thoại</h3>
                                        <p>
                                            0908545151544
                                        </p>
                                    </section>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
                <div id="copyright">
                    <ul>
                        <li>&copy; Golden Flower</li>
                        <li>Design: <a href="">Nhom lap trinh web</a></li>
                    </ul>
                </div>
            </div>
        </section>

    </div>

    <!-- Scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.dropotron.min.js"></script>
    <script src="~/Scripts/browser.min.js"></script>
    <script src="~/Scripts/breakpoints.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/main.js"></script>

    <script>
        $(function () {
            $('#sua').click(function () {
                var STRMS = [];
                if (!$('input:checked').is(':checked')) {
                    alert('Vui lòng chọn bất kì sảnh nào để sửa!');
                    return false;
                }
                else {
                    $('input:checked').each(function () {
                        STRMS.push($(this).attr("value"));
                    });
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Sua", "Sanh")',
                        dataType: "html",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({
                            itemSelected: STRMS
                        }),
                        success:
                            function (data) { }

                    });
                }
            });
        });
    </script>

    <script>
        $(function () {
            $('#xoa').click(function () {
                var STRMS = [];
                if (!$('input:checked').is(':checked')) {
                    alert('Vui lòng chọn bất kì sảnh nào để xóa!');
                    return false;
                }
                else {
                    $('input:checked').each(function () {
                        STRMS.push($(this).attr("value"));
                        var check_delete = confirm('Bạn có muốn xóa sảnh này không ?')
                        if (check_delete) {
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("XoaSanh", "Sanh")',
                                dataType: "html",
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify({
                                    itemSelected1: STRMS
                                }),
                                success:
                                    function () {
                                    }
                            });
                            alert('Xóa thành công!!');
                        }
                    });
                }
            });
        });
    </script>

</body>

    }
}



</html>
